{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"semi": false,
	"importOrder": [
		"^\\$app/(.*)$",
		"svelte",
		"fathom-client",
		"three",
		"^three/(.*)$",
		"^src/(.*)$",
		"^[^/].*"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true
}
