{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"semi": false,
	"importOrder": ["svelte", "^\\$app/(.*)$", "three", "^three/(.*)$", "^src/(.*)$", "."],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true
}
