/* Variables and mixins declared here will be available in all other SCSS files */

$primary-light: #484848;
$primary: #212121;
$primary-dark: #000;
$secondary-light: #6abf69;
$secondary: #388e3c;
$secondary-dark: #00600f;
$monospace: 'Inconsolata', Menlo, Chicago, monospace;
$base_font_size: 18px;
$title_font_size: 18px;
$ui_line_size: 2px;
$pad_sm: 0.2rem;
$pad_md: 0.4rem;
$pad_lg: 1rem;

@font-face {
	font-family: 'Terminal Grotesque';
	src: url('/jacksonsalopekcom/fonts/terminal-grotesque/terminal-grotesque.otf') format('opentype'),
		url('/jacksonsalopekcom/fonts/terminal-grotesque/terminal-grotesque.ttf') format('truetype');
}

@font-face {
	font-family: 'Neue Bit';
	font-weight: 400 500;
	src: url('/jacksonsalopekcom/fonts/neue-bit/PPNeueBit-Regular.otf') format('opentype'),
		url('/jacksonsalopekcom/fonts/neue-bit/PPNeueBit-Regular.ttf') format('truetype'),
		url('/jacksonsalopekcom/fonts/neue-bit/PPNeueBit-Regular.eot') format('embedded-opentype'),
		url('/jacksonsalopekcom/fonts/neue-bit/PPNeueBit-Regular.woff2') format('woff2'),
		url('/jacksonsalopekcom/fonts/neue-bit/PPNeueBit-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Neue Bit';
	font-weight: bold;
	src: url('/jacksonsalopekcom/fonts/neue-bit/PPNeueBit-Bold.otf') format('opentype'),
		url('/jacksonsalopekcom/fonts/neue-bit/PPNeueBit-Bold.ttf') format('truetype'),
		url('/jacksonsalopekcom/fonts/neue-bit/PPNeueBit-Bold.eot') format('embedded-opentype'),
		url('/jacksonsalopekcom/fonts/neue-bit/PPNeueBit-Bold.woff2') format('woff2'),
		url('/jacksonsalopekcom/fonts/neue-bit/PPNeueBit-Bold.woff') format('woff');
}

@mixin checkedBG($color, $size) {
	$sq: $color;
	$sq_size: $size;

	background: linear-gradient(45deg, $sq 25%, transparent 25%, transparent 75%, $sq 75%, $sq),
		linear-gradient(45deg, $sq 25%, transparent 25%, transparent 75%, $sq 75%, $sq);
	background-color: #000;
	background-size: $sq_size $sq_size;
	background-position: 0 0, calc($sq_size / 2) calc($sq_size / 2);
}

@mixin hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
